<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} :: peat dot org</title>
    
<!-- ensure this is read as utf-8 --> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- reset everything -->
    <link href="/css/reset.min.css" rel="stylesheet" type="text/css">

    <!-- local styles -->
    <link href="/css/base.css" rel="stylesheet" type="text/css">

    <!-- hooray, fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700" rel="stylesheet" type="text/css">

    <!-- ATOM feed  -->
    <link rel="alternate" type="application/rss+xml" title="peat.org" href="/atom.xml" />

    <!-- openid discovery for peat.org identity -->
    <meta http-equiv="X-XRDS-Location" content="http://peat.myopenid.com/?xrds=1" /> 
    <meta http-equiv="X-Yadis-Location" content="http://peat.myopenid.com/?xrds=1" />

  </head>
  <body>

    <!-- facebook stuff ... derp. -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- general content area -->
    <div id="holder">

      <header>
	<ul>
	  <li id="site-title"><a href="/">peat.org</a></li>
	  <li id="about"><a href="/about.html">about</a></li>
	  <li id="contact"><a href="#">contact</a></li>
	</ul>
      </header>

      <div id="flash">
	Oh, hello there. You've stumbled across a work in progress. This will eventually replace peat.org,
	but for the time being, expect broken links, awful style, and out of date information.
      </div>
      
      <div id="content">
	{{ content }}
      </div>
      
      <footer>
	All content copyright &copy; 2006-{{ site.time | date: "%Y" }} by Peat Bakke. All rights reserved.
      </footer>
      
    </div>
    
    <!-- google analytics -->
    <script type="text/javascript">
      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26918710-1']);
      _gaq.push(['_setDomainName', 'peat.org']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    </script>
    
  </body>
</html>
